.lanyard-wrapper {
  width: 100%;
  height: 500px;
  position: fixed;
  top: calc(1.2em + 60px);
  left: 0;
  right: 0;
  margin: 0 auto;
  touch-action: none;
  pointer-events: auto;
  z-index: 40;
}

@media (min-width: 768px) {
  .lanyard-wrapper {
    top: calc(2em + 60px);
  }
}

.lanyard-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}
